
/* ####################################################
:: Template Name: Essence - Fashion Ecommerce Template
:: Author: Colorlib
:: Author URL: https://colorlib.com
:: Description: Essence is smart & elegant fashion e-commerce Template. It's suitable for all e-commerce business platform.
:: Version: 1.0.0
:: Created: April 27, 2018
:: Last Updated: May 2, 2018
#################################################### */

/* ---------------------------------------
##### - PLACE YOUR CUSTOM CSS HERE - #####
--------------------------------------- */
body {
    font-size: 16px;
}


.upbanner {
    margin-top: 10px;
    display: block;
}

/*=================OwlNav===============*/
.npnav button, .npnavb button {
    width: 30px;
    background-color: #ffffff;
    margin: 0px 10px 0px 10px;
    border-radius: 3px;
    border: 1px solid #c5c5c5;
}

.npnav button:hover {
    cursor: pointer;
    background-color: #c5c5c5;
    transition-duration: 0.3s;
}

.npnavb .owl-prev {
    background-color: #2196F3;
    left: 100px;
}

/*==============HEADER================*/
.header_area .header-meta {
    height: auto;
}

.header_area .classy-navbar {
    height: auto;
}

.header_area .search-area form input, .header_area .search-area form input:focus {
    width: 400px;
} {
    width: 400px;
}


.header_area .classynav ul li a{
    color: black;
    font-weight: 500;
}

/*================FOOTER==============*/
.footer_area {
    border-top: 10px #563232 solid;
    background-color: #e5e5e5;
}

.footer_area p, a{

    color: black;
}

.footer_area a {
    color: #000000;
    font-size: 14px;
    line-height: 2;
    font-weight: 400;
}

/* ========= form ========= */
.formbadge {
    background-color: transparent;
    border: 1px #6c757d solid;
}

/*=============BANNER================*/
.banner {
    display: flex;
}

.banner_item {
    margin: 2px;
    min-width: 300px;
    /*width: 33%;*/
}

.banner_item img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    vertical-align: middle;
}

/* ===== button upload image ======*/
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 3px;
    border-radius: 6px;
    border: 2px dashed gray;
    cursor: pointer;

}

.btn-upcus {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
}

.btn-upcus img {
    height: 40px;
    opacity: 0.5;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.globalcard {
    margin-top: 1em;
    margin-bottom: 1em;
    border: none;
    background-color: #ffffff;
}

.breadcrumbcard {
    padding: 0.75rem;
}

.kurir {
    height: 30px;
}

.product {
    margin: 2px;
    border: none;
}

.product:hover {
    /*box-shadow: 0px 0px 5px 1px #0000000f;*/
    cursor: pointer;
    transform: translateY(-2px);
    transition-duration: 0.3s;
    /* border: 1px solid #0000000f; */
}

.globalcard .card-header {
    background-color: #fff;

}

.imgwrapper {
    position: relative;
    border-radius: 0.2rem 0.2rem 0 0;
    overflow: hidden;
    height: 180px;
    text-align: center;
    padding: 0.5em;
}

.imgwrapper img {
    max-width: 100%;
    /*width: 300px;*/
    height: 180px;
    display: inline-block;
    object-fit: scale-down;

}

.product .card-text {
    font-size: small;
    margin-bottom: 0;
}

.product .productname {
    color: black;
    font-weight: 400;
    line-height: 1.2;
}

.product .card-body {
    padding: 0.5rem;
}

.cto {
    margin-top: 3em;
    width: 100%;
}

.cto img {
    object-fit: cover;

    /*height: 300px;*/
}

.favourite-area .lo a {
    font-size: 16px;
}

.favourite-area a:hover {
    font-size: 16.4px;
}

/*hover card*/

.product {
    position: relative;
    float: left;
}

.globalcard .globalcardbody {
    height: 329px;
}

.product .hover-content {
    visibility: hidden;
    opacity: 0;
    height: 0;
    padding: 0;

}

.product:hover .hover-content {
    height: auto;
    visibility: visible;
    opacity: 10;
    transition: opacity 1s ease;
}

.product .hover-content .product-btn {
    display: inline-block;
    min-width: 170px;
    color: #ffffff;
    border: none;
    border-radius: 0;
    padding: 0 40px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 1.5px;
    font-weight: 600;
    background-color: #721c24;

}

/*-------------PRODUCTS---------------*/
.products .card-text {
    font-size: small;
    margin-bottom: 0;
}

.products .productname {
    color: black;
    font-weight: 500;
    line-height: 1.2;
}

.products .card-body {
    padding: 0.5rem;
}

.products {
    margin-bottom: 1em;
    border: none;
}

.products:hover {
    box-shadow: 0px 0px 5px 1px #00000030;
    cursor: pointer;
    transform: translateY(-2px);
    transition-duration: 0.3s;
}

.products .hover-content .product-btn {
    display: inline-block;
    width: 100%;
    color: #ffffff;
    border: none;
    border-radius: 0;
    padding: 0 40px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 1.5px;
    font-weight: 600;
    background-color: #721c24;
}

.product .hover-content {
    visibility: visible;
    opacity: 0;
    height: 0;
    padding: 0;

}

/*---------------CTO------------*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.item1 {
    grid-row: 1 / 3;
}

/*============SINGLE PRODUCT===========*/
.detailproduct .carousel {
    /*margin-top: 1em;*/
}

.detailproduct .carousel-item {
    margin-top: 1em;
    height: 300px;
}

.detailproduct .carousel-item img {
    /*object-fit: cover;*/
    position: relative;
}

.detailproduct .smallimage li {
    margin-right: 1em;
}

.detailproduct .smallimage img {
    height: 50px;
    cursor: pointer;
}

.detailproduct .price {

}

.detailreview {
    width: 100%;
}

.detailreview .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #007b91;
    font-size: inherit;
}

.detailreview .nav-tabs .nav-link {
    border: none;
    font-size: inherit;
}

.detailreview .nav-tabs .nav-link:hover {
    border: none;
    border-bottom: 2px solid #007b91;
    font-size: inherit;
}

.detailreview .ulasan .imgwrapper {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #c6c6c6;
}

.detailreview .ulasan img {
    height: 50px;
    width: 50px;
    object-fit: cover;

}

.vimagewrapper {
    height: auto;
}

.vimg {
    max-height: 100%;
    /*height: 130px;*/
    object-fit: scale-down;
    padding: 3px;
    border: 1px #d4d4d4 solid;
    border-radius: 0.25em;
}

/*------------Keranjang---------------*/
.keranjang {
    margin-top: 100px;
}

.keranjang .imgwrapper {
    height: auto;
}

.keranjang img {
    max-height: 100%;
    height: 130px;
    object-fit: scale-down;
    padding: 3px;
    border: 1px #d4d4d4 solid;
    border-radius: 0.25em;
}

.keranjang .card-footer {
    background-color: white;
}

.keranjang .totalpay {
    border: 0px;
}

.keranjang .paynow {
    font-weight: 600;
}

.keranjang .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}

/*======= Checkout==========*/
.checkout img {
    max-height: 100%;
    height: 130px;
    object-fit: scale-down;
    padding: 3px;
    border: 1px #d4d4d4 solid;
    border-radius: 0.25em;
}

.checkout .imgwrapper {
    height: auto;
}

/*---------------Merchant--------------*/
.store {
    padding: 0.3rem;
}

.store-name h5 {
    color: dodgerblue;
}

.store-desc i {
    color: dodgerblue;
}

.store-share button {
    float: right;
    width: 35px;
    margin-left: 8px;

}

.merchant-sidebar .mercant-sidebar-menu .sub-menu li > a {
    text-transform: capitalize;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    font-weight: 300;
    color: #787878;
}

.merchant-sidebar .mercant-sidebar-menu li > a {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 15px;
    display: block;
}

.mercant-sidebar-menu .sub-menu {
    margin-left: 15px;
    margin-bottom: 15px;
}

/*============PAYMENT===========*/
.payment {
    margin-top: 100px;
}

.payment .time {
    background-color: #f7f8f7;
    border: 1px solid #d4d4d4;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #cde4c3;
    border-radius: 5px;
    border-bottom: 1px solid #cde4c3 !important;
    padding: 10px;
}

/*============ HORIZONTAL CARD ==============*/
.hcard .card-body {
    padding: 0.3rem;
}

/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .horizontalcard .shrink {

    }

    .slide {
        padding: 1px;
    }
}

/*=========merchantDashboard============*/
.widget .card {
    background-color: #2196F3;
    border: none;
    color: white;
    padding: 1em;
    box-shadow: 2px 2px 10px #DADADA;
}

.stat-widget-five {
    min-height: 60px;
}

.stat-widget-five .stat-icon {
    font-size: 50px;
    line-height: 50px;
    position: absolute;
    left: 30px;

}

.stat-widget-five .stat-content {
    margin-left: 100px;
}

.stat-widget-five .stat-text {
    color: #455a64;
    font-size: 20px;
}

.stat-widget-five .stat-heading {
    color: #99abb4;
    font-size: 14px;
}

/*===============Costumer Pesanan==============*/
.detailorder .small {
    font-size: 80%;
    font-weight: 400;
}

.detailorder .detail {
    font-weight: 500;
}

.pesanan img {
    max-height: 100%;
    height: 130px;
    object-fit: scale-down;
    padding: 3px;
    border: 1px #d4d4d4 solid;
    border-radius: 0.25em;
}

.detailpesanan img {
    max-height: 100%;
    /*height: 130px;*/
    object-fit: scale-down;
    padding: 3px;
    border: 1px #d4d4d4 solid;
    border-radius: 0.25em;
}

/*============button============*/
.smallbtn {
    background-color: orange;
    border-radius: 3px;
    padding: 5px 15px;
    color: white;
}

.mediumbtn {
    background-color: orange;
    border-radius: 3px;
    padding: 10px;
    width: 100px;
    color: white;
    font-weight: lighter;
    height: auto;

}


/*============Modal login==============*/


.loginmodal a{
    color: #007bff;
    font-size: 14px;
    line-height: 2;
    font-weight: 400;
}

.loginmodal p{
    color: black;
    margin-bottom: 0px;
}
.loginmodal input{
    border-left: none;
}

.loginmodal .input-group-text{
    background-color: transparent;
    width: 40px;
    text-align: center;
    border-right-style: unset;
}

.loginmodal input:-webkit-autofill {
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 0 0px 9999px white;
}

.loginmodal input:focus,
input:-webkit-autofill:focus {
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 0 0px 9999px white, 0 0 8px
    rgba(102, 175, 233, 0.6);
}




/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    .quantity {
        margin-top: 1em;
    }

    .header_area .search-area form input {
        width: 100%;
    }

    .loginmodal p, .loginmodal a {
        font-size: x-small;
    }
}

/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
}

/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
}